/* Floats Layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
    list-style: none;
}


/* general styles  */

.centerContent {
    width: 800px;
}

.bigText {
    font-size: 32px;
}

a {
    text-decoration: none;
    color: grey;
    font-weight: bold;

}

/* logo  */

.logo {
    font-weight: bold;
    font-size: 24px;
}

/* navigation */

nav {
    height: 50px;
    align-content: center;
    border-bottom: 1px solid black;

    padding: 0 15px 0 15px;

}

nav ul li {
    float: left;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.floatCenter {
    float: left;
    position: relative;
    top: 0px;
    left: 28%;
    padding: 0 10px 0 10px;
}

/* main  */

main {
    background-image: url(./images/heroimage.webp);
    background-position: center center;
    background-size: cover;

    height: 65vh;
    width: 100%;
    margin: 0 auto;
}



.bottomRight {
    position: relative;
    top: 25%;
    left: 10%;
}

.bottomRight > * {
    margin-bottom: 20px;
}

/* box */

.box {
    background-color: #000;
    color: #fff;
    padding: 15px;
    width: 200px;
    height: 250px;
    align-content: center;
    float: right;
    position: relative;
    top: 32%;
    left: -72%;
}

.box p  {
    padding: 20px 0 20px 0;
}

/* Features Section */

section >  .features {

    width: 100%;
    height: 300px;
    padding: 80px 50px 60px 50px;
}

.features {
    align-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.feature {
    float: left;
    width: 33.33%
}

.icon {
    height: 50px;
    width: 50px;
}

/* article */

article {
    background-color: rgb(243, 244, 246);
    height: 400px;
    width: 100%;

    padding: 75px 50px 75px 50px;

}

.divider {
    margin: 0 auto;
    width: 100%;
}

.container {
    float: left;
    width: 50%;
}

.textContent h2, .textContent p {
    padding-bottom: 30px;
}

