* {
    background-color: rgb(217, 217, 217);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}

.border {
    border: 1px solid #000;
}

html, body {
    border: 0;
}

body {
    margin: 10px;
}

nav,footer {
    background-color: #5C0029;
    height: 15%;
}

section {
    height: 200px;
    background-color: #61304B;
}
.two {
    overflow: auto;
}


.two aside {
    float: left;
    height: 200px;
    background-color: #DAD4B5;
}


/* aside first & second div */

.first {
    width: 33.33%;
}

.second {
    width: 66.66%;
}

