/* Floats Layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
}

/* general styles */

.mainWrapper, .articleContent, .articleCarousel, .openingHours, .testimonials {
    width: 800px;   
    margin: 0 auto;
}

h2 {
    font-size: 36px;
}

button.black {
    color: #000;
}

/* main styles */

main {
    background-image: url(./images/restaurant_background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 90vh;
}

main nav {
    height: 100px;
    width: 100%;

}

main nav ul {
    overflow: hidden;
}

.floatLeft {
    float: left;
    padding: 0 10px 0 10px;
    position: relative;
    left: 250px;
}

.floatRight {
    float: right;
}


/* Main content */

.mainContent {
    position: relative;
    left: -100px;
    top: 150px;
}

.mainContent h1 {
    display: inline-block;
    width: 250px;
    font-size: 48px;
    margin-bottom: 20px;
}

.mainContent input {
    width: 150px;
    height: 50px;
}





/* background properties */
.articleContent,.articleCarousel, .openingHours, .testimonials {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 800px;
    width: 100%;
}

/* article images*/

.articleContent {
    background-image: url(./images/bgIMG.avif);
}
.articleCarousel {
    background-color: rgb(242, 246, 247);
}

.openingHours {
    background-image: url(./images/bgIMG2.jpg)
}

/* article positions */ 

.positionRight {
    position: relative;
    top: 150px;
    left: 50%;
    width: 400px
}

.positionRight > * {
    color: #fff;
    margin-bottom: 20px;
}

.positionCenter {
    position: relative;
    top: 150px;
    left: 50%;
    width: 400px;
}